In [1]:
import numpy as np
import pandas as pd

import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv("data/processed/training_concatenated.csv")
print(dataset.shape)

dataset.head()

(1552210, 42)

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,PatientID
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,83.14,0.0,NaN,NaN,-0.03,1.0,0.0,0.0
1,97.0,95.0,NaN,98.0,75.33,NaN,19.0,NaN,NaN,NaN,...,NaN,NaN,83.14,0.0,NaN,NaN,-0.03,2.0,0.0,0.0
2,89.0,99.0,NaN,122.0,86.00,NaN,22.0,NaN,NaN,NaN,...,NaN,NaN,83.14,0.0,NaN,NaN,-0.03,3.0,0.0,0.0
3,90.0,95.0,NaN,NaN,NaN,NaN,30.0,NaN,24.0,NaN,...,NaN,NaN,83.14,0.0,NaN,NaN,-0.03,4.0,0.0,0.0
4,103.0,88.5,NaN,122.0,91.33,NaN,24.5,NaN,NaN,NaN,...,NaN,NaN,83.14,0.0,NaN,NaN,-0.03,5.0,0.0,0.0

- **Alternative indices of oxygenation include (https://litfl.com/pao2-fio2-ratio/):**<br>
- **Ratio of SaO2/FiO2**
-

In [3]:
# - **PAO2 can be calculated as: PAO2 = 150 - (PaCO2/0.8) (https://www.picmonic.com/api/v3/picmonics/1019/pdf#:~:text=The%20equation%20can%20be%20estimated,diagnose%20the%20source%20of%20hypoxemia.)**
# - **Oxygenation Index (OI) = (FiO2 x MAP)/PaO2**

In [4]:
dataset.columns.sort_values()

Index(['AST', 'Age', 'Alkalinephos', 'BUN', 'BaseExcess', 'Bilirubin_direct',
       'Bilirubin_total', 'Calcium', 'Chloride', 'Creatinine', 'DBP', 'EtCO2',
       'FiO2', 'Fibrinogen', 'Gender', 'Glucose', 'HCO3', 'HR', 'Hct', 'Hgb',
       'HospAdmTime', 'ICULOS', 'Lactate', 'MAP', 'Magnesium', 'O2Sat', 'PTT',
       'PaCO2', 'PatientID', 'Phosphate', 'Platelets', 'Potassium', 'Resp',
       'SBP', 'SaO2', 'SepsisLabel', 'Temp', 'TroponinI', 'Unit1', 'Unit2',
       'WBC', 'pH'],
      dtype='object')

In [ ]:
Aa_gradient = PAO2 - PaO2
print(Aa_gradient)